.navbar{
  
    height: 100px;
    margin:  auto;


    .wrapper{
      max-width: 1366px;
      margin: 0 auto; // Center the container horizontally

      padding-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:100%;
          
      span{
        font-weight: bold;
        margin-left: 7%;
        }

      .social{
        display: flex;
        gap: 20px;
        margin-right: 4%;
        }

      img{
        width: 18px;
        height: 18px;
        }
    }
}